@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
html,body{
    width: 100%;
    height:100%;
    font-size: 10px;   
}

*{
	box-sizing: border-box;
}

#menu{
	position: fixed;
	top:4%;
	right: 2%;
	color: black;
	border-radius: 50%;
	padding: 1%;
	font-size: 2rem;
	background-color: white;
}

.Wij-1,.Wij-2,.Wij-3 {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 1.5%;
}

.Wij-1{
	background: url(../img/img.jpg);
	background-repeat: no-repeat; 
	background-position: bottom center;
	background-size: cover;	
}

.Wij-2{
	background: url(../img/cabelereiro.jpg);
	background-repeat: no-repeat; 
	background-position: bottom center;
	background-size: cover;	
	
}

.Wij-3{
	background: url(../img/maquiagem.jpg);
	background-repeat: no-repeat; 
	background-position: bottom center;
	background-size: cover;	
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 5rem;
	font-weight: 600;
	padding:0 10%;
	line-height: 1.2;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	padding:2% 10%;
	margin-bottom: 2%;
	line-height: 1.5;
}

.Wij-1 .color{
	padding-top:7%;
	background-color:#39312B;
}

.Wij-2 .color{
	background-color:#413367;
}

.Wij-3 .color{
	background-color:#c18966;
}

.color{
	box-sizing: border-box;
	color:white;
	width: 50%;
	height: 98.5%;
	padding-top:10%;
}

.simbolo{
	margin-left: 10%;
	font-size: 1.6rem;
	background-color:white;
	padding: .9% 1.8%;
	border-radius: 50%;
	color: black; 
}

.ontdenk{
	padding-left: 2%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	color: white;
}

.inc-mini .grande {
    font-size: 2rem;
    line-height: .4;
    color: white;
    display: block;
 }

.inc-mini .medio {
	padding-left: .4%;
    font-size: 1.5rem;
    line-height: .4;
    color: white;
    display: block;
 }

.inc-mini{
	display: inline-block;
	padding-left: 10%;

}

.numero{
	padding-left: 2%;
	display: inline-block;
 	position: relative;
 }

.sete{
 	font-family: 'Open Sans', sans-serif;
 	font-size: 2.4rem;
 }

.barra{
	position: absolute;
	top: 2%;
    left: 100%;
	font-family: 'Open Sans', sans-serif;
 	font-size: 1.3rem;
}

.seta{
	float: right;
	clear: right;
	color: white;
	font-size: 1.6rem;
	border:white 1px solid;
	padding: .6% 1%;
	border-radius: 50%;
}

.incone{
	padding-right:3%;
	padding-top: 11%;
}

.Wij-1 .incone{
	padding-top: 7%;
}

.bespeak{
	position: fixed;
	top:4%;
	left: 3%;
	color: white;
	font-size: 2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.bespeak img{
	width: 3rem;
	height: 2rem;
}

.esquerda{
	position: absolute;
	animation: aparece 1s;
	bottom:0;
	left: 0;	
} 

.lapis{
	height: 2.5rem;
	width: 40rem;
	bottom: 10%;
	left: 0;
}

.tesoura{
	height: 18rem;
	width: 26rem;	
} 

.prato{
	height: 10rem;
	width: 20rem;	
}

.cima{
	position: absolute;
	animation: pisca 5s;
	top:5%;
	left: 46%;	
}

.tempero{
	height: 10rem;
	width: 10rem;	
}

.pente{
	top:4%;
	left: 43%;
	height: 28rem;
	width: 18rem;
}

.cor{
	left: 43%;
	height: 18.6rem;
	width: 12.9rem;
}

@keyframes pisca {
	0%{
	
		opacity: 0;
	}

	100%{
		
		opacity: 1;
	}

}
@keyframes aparece {
	0%{
	
		left: -100%;
	}

	100%{
		
		left: 0%;
	}

}

@media screen and (max-width: 5700px) {
	html,body{
		font-size: 34px;   
	}
}

@media screen and (max-width: 4700px) {
	html,body{
		font-size: 25px;   
	}
		
}

@media screen and (max-width: 3000px) {
	html,body{
		font-size: 17px;   
	}
	
}

@media screen and (max-width: 2100px) {
	html,body{
		font-size: 13px;   
	}
}

@media screen and (max-width: 1900px) {
	html,body{
		font-size: 12px;   
	}
}

@media screen and (max-width: 1600px) {
	html,body{
		font-size: 11px;   
	}
}

@media screen and (max-width: 1440px) {
	html,body{
    	font-size: 10px;   
	}


@media screen and (max-width: 1366px) and (min-height: 1024px) {
	html,body{
		font-size: 13px;	
	}

	.color {
    	padding-top:18%;
    	height: 95%;
    	margin-top:2.5%;
    	margin-left: 2%;
	}

	.Wij-1 .color {
    	padding-top: 10%;
    }

    p{
		padding: 5% 10%;
	}

	 h1{
		padding-top:3%;
	}

	#menu {
   		top: 6%;
   	}

    .bespeak {
    	top: 6%;
    	left: 6%;
    }
}

@media screen and (max-width: 1024px) and (min-height: 768px) {
	html,body{
		font-size: 11px;	
	}
}

@media screen and (max-width: 1024px) and (min-height: 1024px) {
	html,body{
		font-size: 10px;	
	}

	.color {
		width:98%;
		height: 60%;
		margin-top:0;
    	margin-left: 1.5%;
    	padding-top:18%;
	}

	.Wij-1 .color {
    	padding-top: 12%;
    }

	p{
		font-size: 2.6rem;
		padding: 3% 10%;
	}

	.Wij-1{
		background-position: bottom right;
	}

	.Wij-2{
		background-position: bottom right;
	}

	.Wij-3{
		background-position: bottom right;
	}

	#menu {
   		 right: 4%;
   	}

    .bespeak {
    	left: 5%;
    }

     .cima {
    	top: 3%;
    	left: 74%
    }

    .esquerda {
    	bottom: 40%;
    }

    .lapis{
    	bottom: 50%;
    }
}

@media screen and (max-width: 970px) {
	html,body{
		font-size: 7px;	
	}


@media screen and (max-width: 740px) {
	html,body{
		font-size: 6px;	
	}

@media screen and (max-width: 670px) {
	html,body{
		font-size: 5px;	
	}


@media screen and (max-width: 450px) {
	html,body{
		font-size: 5px;
	}

	.color {
		width:98%;
		height: 80%;
		margin-top:10%;
    	margin-left: 1.5%;
	}
	p{
		font-size: 2.6rem;
		padding: 3% 10%;
	}

	.Wij-1 .color {
   		padding-top: 25%;
	}

	.Wij-2 p, .Wij-3 p{
		padding: 5% 10%;
	}

	.Wij-2 h1, .Wij-3 h1{
		padding-top:3%;
	}

	.color {
   		padding-top: 35%;
	}

	.ontdenk {
		font-size: 2rem;
	}

	#menu {
   		top: 8%;
   		right: 4%;
   	}

    .bespeak {
    	top: 8%;
    	left: 5%;
    }

    .cima {
    	top: 3%;
    	left: 60%
    }

    .esquerda {
    	bottom: 12%;
    }

    .lapis{
    	bottom: 20%;
    }

}
@media screen and (max-width: 320px){
	html,body{
		font-size: 4px;
	}

@media screen and (max-width: 320px) and (max-height: 400px){
	html,body{
		font-size: 3.3px;
	}

	.Wij-1 .color , .color{
    	padding-top: 2%;
    }

    .Wij-1 .incone {
    	padding-top: 0;
    }
}